<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="styles/blocks/sign.css" rel="stylesheet">
</head>
<body>
<div class="form-container">
    <h2>Sign Up</h2>
    <form id="signUp">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
        <p class="link-text">Do you have account? <a href="signin.html">Sign In</a></p>
    </form>
</div>
<script src="scripts/signUpHandler.js"></script>
</body>
</html>